In [9]:
import pandas as pd
import numpy as np

df = pd.read_csv("완료/미래유산 진행중.csv", encoding='CP949')
df.head()

,Unnamed: 0,category_id,course_name,duration_time,order_number,name,district,address,price,image_url,page_url,description,latitude,longitude
0,0,NaN,시장부터 식사까지 경험하는 서울시민의 일상,3시간,3,해창양복점,중구,중구 남대문로7길 33,NaN,NaN,NaN,NaN,37.563796,126.980017
1,1,NaN,시장부터 식사까지 경험하는 서울시민의 일상,3시간,0,한영양복점,중구,중구 퇴계로20길 2,NaN,NaN,NaN,NaN,37.559716,126.985435
2,2,NaN,시장부터 식사까지 경험하는 서울시민의 일상,3시간,1,상동교회(구 새로나백화점),중구,중구 남대문로 30,NaN,NaN,NaN,NaN,37.560835,126.979048
3,3,NaN,시장부터 식사까지 경험하는 서울시민의 일상,3시간,4,라 칸티나,중구,중구 을지로 19,NaN,NaN,NaN,NaN,37.566306,126.979957
4,4,NaN,시장부터 식사까지 경험하는 서울시민의 일상,3시간,2,남대문시장,중구,중구 남대문시장4길 21,NaN,NaN,NaN,NaN,37.559186,126.977654

In [10]:
df2 = pd.read_csv("완료/미래유산 이미지, 가격, 카테고리 있는 테이블.csv", encoding='CP949')
df2.head()

,category_id,name,price,phone_number,image_url,page_url,description
0,7.0,해창양복점,유료,02-776-1667,https://upload.wikimedia.org/wikipedia/commons...,NaN,NaN
1,7.0,한영양복점,유료,02-2266-0870,https://img.khan.co.kr/news/2017/12/03/l_20171...,NaN,NaN
2,7.0,상동교회(구 새로나백화점),무료,NaN,https://img.khan.co.kr/news/2020/03/23/l_20200...,NaN,NaN
3,6.0,라 칸티나,유료,02-777-2580,https://mblogthumb-phinf.pstatic.net/MjAxOTAyM...,NaN,NaN
4,7.0,남대문시장,무료,02-753-2805,https://post-phinf.pstatic.net/MjAyMTEyMDlfMzY...,NaN,NaN

In [18]:
total = pd.merge(df, df2, on='name', how="outer")
total

,Unnamed: 0,category_id_x,course_name,duration_time,order_number,name,district,address,price_x,image_url_x,page_url_x,description_x,latitude,longitude,category_id_y,price_y,phone_number,image_url_y,page_url_y,description_y
0,0.0,NaN,시장부터 식사까지 경험하는 서울시민의 일상,3시간,3.0,해창양복점,중구,중구 남대문로7길 33,NaN,NaN,NaN,NaN,37.563796,126.980017,7.0,유료,02-776-1667,https://upload.wikimedia.org/wikipedia/commons...,NaN,NaN
1,1.0,NaN,시장부터 식사까지 경험하는 서울시민의 일상,3시간,0.0,한영양복점,중구,중구 퇴계로20길 2,NaN,NaN,NaN,NaN,37.559716,126.985435,7.0,유료,02-2266-0870,https://img.khan.co.kr/news/2017/12/03/l_20171...,NaN,NaN
2,2.0,NaN,시장부터 식사까지 경험하는 서울시민의 일상,3시간,1.0,상동교회(구 새로나백화점),중구,중구 남대문로 30,NaN,NaN,NaN,NaN,37.560835,126.979048,7.0,무료,NaN,https://img.khan.co.kr/news/2020/03/23/l_20200...,NaN,NaN
3,3.0,NaN,시장부터 식사까지 경험하는 서울시민의 일상,3시간,4.0,라 칸티나,중구,중구 을지로 19,NaN,NaN,NaN,NaN,37.566306,126.979957,6.0,유료,02-777-2580,https://mblogthumb-phinf.pstatic.net/MjAxOTAyM...,NaN,NaN
4,4.0,NaN,시장부터 식사까지 경험하는 서울시민의 일상,3시간,2.0,남대문시장,중구,중구 남대문시장4길 21,NaN,NaN,NaN,NaN,37.559186,126.977654,7.0,무료,02-753-2805,https://post-phinf.pstatic.net/MjAyMTEyMDlfMzY...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,140.0,NaN,"광희동에서 장충동까지, 한양도성 따라 만나는 지난 100년",약 3시간,6.0,장충체육관,중구,중구 동호로 241,NaN,NaN,NaN,NaN,37.558641,127.006677,1.0,유료,02-2128-2800,https://mediahub.seoul.go.kr/uploads/mediahub/...,NaN,NaN
151,141.0,NaN,"광희동에서 장충동까지, 한양도성 따라 만나는 지난 100년",약 3시간,4.0,장충테니스장,중구,서울 중구 장충동2가 산14-68 장충테니스장,NaN,NaN,NaN,NaN,37.552924,127.001007,1.0,유료,010-7425-8634,https://futureheritage.seoul.go.kr/HeritageImg...,NaN,NaN
152,142.0,NaN,"광희동에서 장충동까지, 한양도성 따라 만나는 지난 100년",약 3시간,5.0,장충리틀야구장,중구,장충동2가 197,NaN,NaN,NaN,NaN,37.557678,127.004057,1.0,유료,02-2268-4667,https://futureheritage.seoul.go.kr/HeritageImg...,NaN,NaN
153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,NaN,NaN,NaN,NaN,NaN,서울종합방재센터,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,무료,02-726-2071,https://upload.wikimedia.org/wikipedia/commons...,NaN,NaN

In [19]:
total.to_csv('미래유산 테스트.csv', index=True, encoding='CP949')

In [2]:
#df['자치구'] = ""
#df

In [3]:
#import re # 정규 표현식 사용

# 정규식을 사용하여 "구"로 끝나는 단어 추출하여 "자치구" 열에 저장
#df['자치구'] = df['미래유산 소재지'].str.extract(r'(\w*구\w*)')

# 결과 출력
#print(df['자치구'])
#df

In [4]:
# DataFrame을 CSV 파일로 저장 (인덱스 포함, utf-8 인코딩)
df.to_csv('서울시 서울미래유산 체험 코스 정제.csv', index=True, encoding='CP949')