In [16]:
import pandas as pd
import numpy as np
df = pd.read_csv("서울시 책방(서점) 결측치 있는 이미지.csv", encoding='CP949')
df.head()

df[df["image_url"].isna()].shape

(167, 13)

In [17]:
df2 = pd.read_csv("서울시 책방 이미지 결측치 채우기.csv", encoding='CP949')
df2.head()

,Unnamed: 0,category_id,name,district,address,latitude,longitude,work_time,price,phone_number,image_url,SNS url,page_url,description,책방 구분명
0,1,NaN,21세기문고,강남구,강남구 남부순환로359길 31,37.486833,127.035565,NaN,무료,02-3463-1880,NaN,NaN,NaN,NaN,새책방
1,4,NaN,PRNT,동작구,동작구 만양로1길 1 1층,37.505733,126.946737,NaN,무료,070-4177-0021,NaN,https://www.instagram.com/prntseoul,https://prntseoul.com,NaN,새책방
2,19,NaN,거목서점,서초구,서초구 신반포로 213 지하 9호,37.507271,127.007271,NaN,무료,02-3476-1585,NaN,NaN,NaN,NaN,새책방
3,21,NaN,건영문고,노원구,노원구 섬밭로 258 지하 1층,37.639110,127.064915,NaN,무료,02-949-2148,NaN,NaN,NaN,NaN,새책방
4,23,NaN,경희문고,동대문구,동대문구 회기로 113,37.591650,127.049310,NaN,무료,02-957-7799,NaN,https://www.instagram.com/khbook_seoul,NaN,NaN,새책방

In [20]:
df['image_url'] = df['image_url'].fillna(df2['image_url'])
df[df["image_url"].isna()].shape

(156, 13)

In [21]:
# DataFrame을 CSV 파일로 저장 (인덱스 포함, utf-8 인코딩)
df.to_csv("서울시 책방(서점) 이미지 크롤링 최종본.csv", index=True, encoding='CP949')

In [30]:
df = df.dropna(subset=['image_url'])
df[df["image_url"].isna()].shape

(0, 13)

In [31]:
# DataFrame을 CSV 파일로 저장 (인덱스 포함, utf-8 인코딩)
df.to_csv("서울시 책방(서점) 이미지 크롤링 최종본 결측치 drop.csv", index=True, encoding='CP949')