In [2]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
#from scipy import sparse

In [3]:
likes = pd.read_csv(f"C:/Users/김가연/Desktop/23-2학기/캡스톤2/data/완료/hearts.csv", encoding='UTF-8-SIG')
places = pd.read_csv(f"C:/Users/김가연/Desktop/23-2학기/캡스톤2/data/완료/places.csv", encoding='UTF-8-SIG')

np.random.seed(42)

likes['user_id'] = np.random.randint(1, 30, size=400)
likes['place_id'] = np.random.randint(1, 1901, size=400)
likes['heart'] = np.random.randint(1, 2, size=400)
likes = likes.drop_duplicates()
likes

     user_id  place_id  heart
0          7       750      1
1         20      1694      1
2         29        38      1
3         15       230      1
4         11      1389      1
..       ...       ...    ...
395       27      1417      1
396       19       946      1
397       22       795      1
398       23       634      1
399       22      1218      1

[400 rows x 3 columns]

In [4]:
places = places[["id", "name"]]
places = places.rename(columns={'id':'place_id', 'name' : 'name'})
places

      place_id        name
0            1    쉘터오브메모리즈
1            2    쉘터오브메모리즈
2            3      남산의 생태
3            4     회화적 몽타주
4            5          휴식
...        ...         ...
1895      1896    장충동 족발골목
1896      1897  박문사 터와 장충단
1897      1898       장충체육관
1898      1899      장충테니스장
1899      1900     장충리틀야구장

[1900 rows x 2 columns]

In [5]:

x = likes.copy()
x

     user_id  place_id  heart
0          7       750      1
1         20      1694      1
2         29        38      1
3         15       230      1
4         11      1389      1
..       ...       ...    ...
395       27      1417      1
396       19       946      1
397       22       795      1
398       23       634      1
399       22      1218      1

[400 rows x 3 columns]

In [6]:
y = likes['user_id']
y

0       7
1      20
2      29
3      15
4      11
       ..
395    27
396    19
397    22
398    23
399    22
Name: user_id, Length: 400, dtype: int32

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, stratify=y)

In [8]:
#  train 데이터로 Full matrix 구하기 
likes_matrix = x_train.pivot(index='user_id', columns='place_id', values='heart')
likes_matrix

place_id,5,12,18,20,23,27,35,36,37,38,...,1824,1835,1842,1844,1849,1853,1861,1891,1893,1896
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
27,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# train set 사용자들의 Cosine similarities 계산
from sklearn.metrics.pairwise import cosine_similarity
matrix_dummy = likes_matrix.copy().fillna(0)
user_similarity = cosine_similarity(matrix_dummy, matrix_dummy)
user_similarity = pd.DataFrame(user_similarity, index=likes_matrix.index, columns=likes_matrix.index)
user_similarity

user_id,1,2,3,4,5,6,7,8,9,10,...,20,21,22,23,24,25,26,27,28,29
user_id,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.071611,0.000000,0.0,0.000000,0.000000,0.077850,0.00000,0.000000,0.000000,0.0
2,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.087039,0.000000,0.00000,0.000000,0.000000,0.0
3,0.000000,0.000000,1.000000,0.0,0.086066,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.07785,0.077850,0.000000,0.0
4,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0
5,0.000000,0.000000,0.086066,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00000,0.100504,0.000000,0.0
6,0.000000,0.000000,0.000000,0.0,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00000,0.113961,0.000000,0.0
7,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.109109,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0
8,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0
9,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0
10,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.109109,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0
11,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0
12,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.083333,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00000,0.000000,0.072169,0.0
13,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.123091,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0
14,0.000000,0.000000,0.105409,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0
15,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.084515,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.095346,0.00000,0.000000,0.000000,0.0
16,0.000000,0.000000,0.000000,0.0,0.000000,0.109109,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.091287,0.083333,0.000000,0.00000,0.000000,0.072169,0.0
17,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0
18,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.113961,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00000,0.000000,0.094491,0.0
19,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0
20,0.071611,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.098058,0.0,0.000000,0.000000,0.000000,0.00000,0.000000,0.069338,0.0
21,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.098058,1.000000,0.0,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0
22,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0
23,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0
24,0.000000,0.087039,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,1.000000,0.000000,0.00000,0.000000,0.000000,0.0
25,0.077850,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,1.000000,0.00000,0.000000,0.000000,0.0
26,0.000000,0.000000,0.077850,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,1.00000,0.000000,0.000000,0.0
27,0.000000,0.000000,0.077850,0.0,0.100504,0.113961,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00000,1.000000,0.000000,0.0
28,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.069338,0.000000,0.0,0.000000,0.000000,0.000000,0.00000,0.000000,1.000000,0.0
29,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1.0

In [10]:
from sklearn.metrics import precision_score, recall_score, f1_score

# 정확도(RMSE)를 계산하는 함수 
def precision_score(y_true, y_pred):
    return precision_score(y_true, y_pred)

# 모델별 정확도를 계산하는 함수 
def score(model, neighbor_size=0):
    id_pairs = zip(x_test['user_id'], x_test['place_id'])
    y_pred = np.array([model(user, place, neighbor_size) for (user, place) in id_pairs])
    print(y_pred)
    y_true = np.array(x_test['heart'])
    print(y_true)
    return precision_score(y_true, y_pred)

In [ ]:
##### (1) 

# Neighbor size를 정해서 예측치를 계산하는 함수 
import numpy as np
from scipy.stats import mode

def cf_knn_binary(user_id, place_id, neighbor_size=0):
    if place_id in likes_matrix:
        # 현재 사용자와 다른 사용자 간의 similarity 가져오기
        sim_scores = user_similarity[user_id].copy()
        
        # 현재 장소에 대한 모든 사용자의 heart 값 가져오기
        place_likes = likes_matrix[place_id].copy()
        
        # 현재 영화를 평가하지 않은 사용자의 index 가져오기
        none_likes_idx = place_likes[place_likes.isna()].index
       
        # 현재 영화를 평가하지 않은 사용자의 likes (null) 제거
        place_likes = place_likes.drop(none_likes_idx)
        
        # 현재 영화를 평가하지 않은 사용자의 similarity값 제거
        sim_scores = sim_scores.drop(none_likes_idx)
        
        if neighbor_size == 0:          
            # 이웃의 가장 일반적인 평점(mode)을 사용하여 예측
            predicted_rating = mode(place_likes).mode[0]
        else:                       
            if len(sim_scores) > 1: 
                # 지정된 이웃 크기 값과 해당 장소를 평가한 총 사용자 수 중 작은 것으로 결정
                neighbor_size = min(neighbor_size, len(sim_scores))
                # 배열로 변환 (argsort를 사용하기 위함)
                sim_scores = np.array(sim_scores)
                place_likes = np.array(place_likes)
                
                # 유사도를 순서대로 정렬
                user_idx = np.argsort(sim_scores)
                
                # 유사도를 이웃 크기만큼 받기
                sim_scores = sim_scores[user_idx][-neighbor_size:]
                
                # 영화 rating을 이웃 크기만큼 받기
                place_likes = place_likes[user_idx][-neighbor_size:]
                
                # 이웃의 가장 일반적인 평점(mode)을 사용하여 예측
                predicted_rating = mode(place_likes).mode[0]
            else:
                # 최소한 2명의 이웃이 필요한 경우에만 예측을 수행할 수 있도록
                predicted_rating = 0
    else:
        # 만약 장소가 평가되지 않았다면 기본적으로 0으로 예측
        predicted_rating = 0
    
    return predicted_rating


# 정확도 계산
score(cf_knn_binary, neighbor_size=0)

In [15]:
def ubcf_binary(user_similarity, user_id):
    
    # 현재 사용자와 다른 사용자 간의 유사도 가져오기
    similar_users = user_similarity[user_id].copy()
    #print(similar_users)
    
    #
    similar_users = similar_users[similar_users > 0].index
    print("현재 사용자와 유사한 사용자", similar_users)
    
    # 사용자의 선호도 정보 가져오기
    user_likes = (matrix_dummy.loc[user_id] == 1).astype(int)
    #print("user_likes")
    #print(user_likes)
    # 현재 사용자와 유사한 사용자들의 찜한 장소 중에서 현재 사용자가 찜하지 않은 장소 찾기
    unliked_places = user_likes[user_likes == 0].index
    #print("unliked_places", unliked_places)
    
    # 유사한 사용자들의 찜한 장소를 기반으로 현재 사용자의 찜할 장소 예측
    predicted_likes = user_similarity.loc[similar_users, user_id].dot(matrix_dummy.loc[similar_users, unliked_places])
    predicted_likes = predicted_likes / user_similarity.loc[similar_users, user_id].sum()
    return predicted_likes

# 예측 찜 구하기
user_id = 3
predicted_likes = ubcf_binary(user_similarity, user_id)

print(f"사용자 {user_id}이 찜할 장소 예상:")
predicted_likes[predicted_likes>0].sort_values(ascending=False).head(5)

user_id
1     0.000000
2     0.000000
3     1.000000
4     0.000000
5     0.086066
6     0.000000
7     0.000000
8     0.000000
9     0.000000
10    0.000000
11    0.000000
12    0.000000
13    0.000000
14    0.105409
15    0.000000
16    0.000000
17    0.000000
18    0.000000
19    0.000000
20    0.000000
21    0.000000
22    0.000000
23    0.000000
24    0.000000
25    0.000000
26    0.000000
27    0.000000
28    0.000000
29    0.000000
Name: 3, dtype: float64
현재 사용자와 유사한 사용자 Int64Index([3, 5, 14], dtype='int64', name='user_id')
사용자 3이 찜할 장소 예상:

place_id
20      0.08847
398     0.08847
400     0.08847
1033    0.08847
1854    0.08847
Name: 3, dtype: float64

In [13]:
#from sklearn.metrics.pairwise import cosine_similarity
#matrix_dummy = rating_matrix.copy().fillna(0)
#user_similarity = cosine_similarity(matrix_dummy, matrix_dummy)
#user_similarity = pd.DataFrame(user_similarity, index=rating_matrix.index, columns=rating_matrix.index)
#for neighbor_size in [10, 20, 30, 40, 50, 60]:
#    print("Neighbor size = %d : RMSE = %.4f" % (neighbor_size, score(ubcf_binary, neighbor_size)))

In [340]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

likes = pd.read_csv(f"C:/Users/김가연/Desktop/23-2학기/캡스톤2/data/완료/hearts.csv", encoding='UTF-8-SIG')
places = pd.read_csv(f"C:/Users/김가연/Desktop/23-2학기/캡스톤2/data/완료/places.csv", encoding='UTF-8-SIG')

np.random.seed(42)

likes['user_id'] = np.random.randint(1, 20, size=400)
likes['place_id'] = np.random.randint(1, 1901, size=400)
likes['heart'] = np.random.randint(1, 2, size=400)
likes = likes.drop_duplicates()
likes

     user_id  place_id  heart
0          7      1866      1
1         15      1067      1
2         11      1580      1
3          8       285      1
4          7       397      1
..       ...       ...    ...
395       12       900      1
396        3       138      1
397        1       184      1
398        1      1425      1
399        8      1354      1

[398 rows x 3 columns]

In [341]:
places = places[["id", "name"]]
places = places.rename(columns={'id':'place_id', 'name' : 'name'})
places

      place_id        name
0            1    쉘터오브메모리즈
1            2    쉘터오브메모리즈
2            3      남산의 생태
3            4     회화적 몽타주
4            5          휴식
...        ...         ...
1895      1896    장충동 족발골목
1896      1897  박문사 터와 장충단
1897      1898       장충체육관
1898      1899      장충테니스장
1899      1900     장충리틀야구장

[1900 rows x 2 columns]

In [342]:
from sklearn.model_selection import train_test_split

# 데이터를 훈련 세트와 테스트 세트로 나누기
x = likes.copy()
x

     user_id  place_id  heart
0          7      1866      1
1         15      1067      1
2         11      1580      1
3          8       285      1
4          7       397      1
..       ...       ...    ...
395       12       900      1
396        3       138      1
397        1       184      1
398        1      1425      1
399        8      1354      1

[398 rows x 3 columns]

In [343]:
y = likes['user_id']
y

0       7
1      15
2      11
3       8
4       7
       ..
395    12
396     3
397     1
398     1
399     8
Name: user_id, Length: 398, dtype: int32

In [344]:
from sklearn.metrics import precision_score, recall_score, f1_score

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, stratify=y)

# 정확도(RMSE)를 계산하는 함수 
#def recall(y_true, y_pred):
#    return recall_score(y_true, y_pred)
# 모델별 정확도를 계산하는 함수 
def score(model, neighbor_size=0):
    id_pairs = zip(x_test['user_id'], x_test['place_id'])
    y_pred = np.array([model(user, place, neighbor_size) for (user, place) in id_pairs])
    print(y_pred)
    y_true = np.array(x_test['heart'])
    print(y_true)
    return recall_score(y_true, y_pred)

In [345]:
#  train 데이터로 Full matrix 구하기 
heart_matrix = x_train.pivot(index='user_id', columns='place_id', values='heart')
heart_matrix

place_id,1,10,12,29,37,39,41,47,51,62,...,1825,1839,1849,1853,1857,1866,1867,1874,1893,1894
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
5,1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [346]:
# train set 사용자들의 Cosine similarities 계산
from sklearn.metrics.pairwise import cosine_similarity
matrix_dummy = heart_matrix.copy().fillna(0)
matrix_dummy

place_id,1,10,12,29,37,39,41,47,51,62,...,1825,1839,1849,1853,1857,1866,1867,1874,1893,1894
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [347]:

user_similarity = cosine_similarity(matrix_dummy, matrix_dummy)
user_similarity = pd.DataFrame(user_similarity, index=rating_matrix.index, columns=rating_matrix.index)
user_similarity

ValueError: Shape of passed values is (19, 19), indices imply (29, 29)

In [ ]:
import numpy as np

def ubcf_binary_recommendation(user_similarity, user_id, threshold=0.5):
    # 현재 사용자와 다른 사용자 간의 similarity 가져오기
    sim_scores = user_similarity[user_id].copy()
    
    # 현재 사용자가 이미 평가한 영화 가져오기 (이진 데이터에서는 1인 영화만 고려)
    user_ratings = (matrix_dummy.loc[user_id] > 0).astype(int)
    
    # 현재 사용자가 이미 평가한 영화는 추천에서 제외하기 위해 유사도에서 해당 영화의 값을 0으로 설정
    sim_scores[user_ratings.index] = 0
    
    # 유사도가 threshold 이상인 사용자 중에서 1로 평가한 영화의 비율을 계산
    weighted_ratings = (user_similarity[user_id] > threshold) * user_ratings
    scores = weighted_ratings.sum() / (user_similarity[user_id] > threshold).sum()
    
    return scores

# 특정 사용자에게 영화를 추천
user_id = 1
recommendation = ubcf_binary_recommendation(user_similarity, user_id)

print(f"사용자 {user_id}에게 추천할 영화의 예상 평가: {recommendation}")

KeyError: '[  29   37   39   41   47   51   62   63   75   76   80   81   90   91\n   95   96   98  105  118  134  138  144  146  166  167  170  173  177\n  184  190  203  217  224  249  250  256  265  268  279  358  373  374\n  385  387  390  396  397  398  401  405  418  435  438  445  449  450\n  455  456  457  461  471  476  488  492  499  500  502  511  518  540\n  542  569  578  596  605  617  624  634  653  656  658  663  668  672\n  674  676  677  685  689  698  699  709  714  717  718  727  729  732\n  735  736  740  751  752  759  763  771  776  784  797  798  806  815\n  824  827  829  849  851  853  867  869  873  876  877  881  883  886\n  895  900  909  913  919  920  925  934  935  946  970  972  978  997\n 1009 1016 1020 1021 1022 1025 1029 1043 1047 1049 1066 1067 1078 1082\n 1089 1093 1094 1098 1099 1109 1123 1130 1141 1143 1146 1156 1157 1168\n 1169 1175 1187 1189 1192 1198 1210 1215 1218 1220 1225 1231 1237 1241\n 1244 1247 1251 1253 1254 1257 1263 1266 1275 1277 1283 1297 1306 1325\n 1326 1329 1330 1332 1340 1351 1359 1366 1372 1391 1393 1397 1425 1426\n 1432 1439 1446 1461 1470 1475 1482 1505 1508 1517 1520 1525 1530 1532\n 1537 1541 1543 1549 1550 1555 1556 1571 1572 1575 1580 1582 1588 1589\n 1590 1626 1631 1634 1650 1672 1677 1681 1683 1684 1688 1713 1717 1719\n 1728 1748 1758 1760 1796 1803 1804 1811 1820 1824 1825 1839 1849 1853\n 1857 1866 1867 1874 1893 1894] not in index'

In [275]:


# Neighbor size를 정해서 예측치를 계산하는 함수
def cf_binary_knn(user_id, place_id, neighbor_size=0, threshold=0.5):
    if place_id in rating_matrix:
        # 현재 사용자와 다른 사용자 간의 similarity 가져오기
        sim_scores = user_similarity[user_id].copy()
        # 현재 장소에 대한 모든 사용자의 하트 정보 가져오기
        place_ratings = rating_matrix[place_id].copy()
        # 현재 장소를 평가하지 않은 사용자의 index 가져오기
        none_rating_idx = place_ratings[place_ratings == 0].index
        # 현재 장소를 평가하지 않은 사용자의 하트 정보 제거
        place_ratings = place_ratings.drop(none_rating_idx)
        # 현재 장소를 평가하지 않은 사용자의 similarity값 제거
        sim_scores = sim_scores.drop(none_rating_idx)

        # 이진 데이터에서는 하트 정보가 threshold 이상인 경우 1, 그렇지 않으면 0으로 처리
        place_ratings = (place_ratings >= threshold).astype(int)

        if neighbor_size == 0:
            # 현재 장소를 평가한 모든 사용자의 가중평균값 구하기
            mean_heart = np.dot(sim_scores, place_ratings) / sim_scores.sum()
        else:
            if len(sim_scores) > 1:
                neighbor_size = min(neighbor_size, len(sim_scores))
                sim_scores = np.array(sim_scores)
                place_ratings = np.array(place_ratings)
                user_idx = np.argsort(sim_scores)
                sim_scores = sim_scores[user_idx][-neighbor_size:]
                place_ratings = place_ratings[user_idx][-neighbor_size:]
                mean_heart = np.dot(sim_scores, place_ratings) / sim_scores.sum()
            else:
                mean_heart = 0.5  # 사용자가 유사한 다른 사용자가 없는 경우 0.5로 설정 (임의의 기본값)
    else:
        mean_heart = 0.5
    return mean_heart

In [276]:

# 이진 데이터에 대한 정확도 출력
score(cf_binary_knn, neighbor_size=30)

[0.5        0.5        0.5        0.5        0.5        0.5
 0.5        0.5        0.05770316 0.5        0.5        0.5
 0.5        1.         0.5        0.5        0.5        0.5
 0.5        0.5        0.03778878 0.5        0.5        0.5
 0.5        0.5        0.5        0.5        0.5        0.
 0.         0.5        0.5        0.5        0.5        0.5
 0.5        0.5        0.5        0.         0.5        0.5
 0.5        0.         0.5        0.5        0.5        0.5
 0.5        0.5        0.5        0.         0.5        0.5
 0.5        0.         0.75672111 0.5        0.5        0.05883424
 0.5        0.5        0.5        0.5        0.5        0.5
 0.5        0.5        0.5        0.5        0.5        0.5
 0.5        0.5        0.5        0.5        0.5        0.5
 0.5        0.5        0.5        0.5        0.5        0.5
 0.         0.         0.5        0.         0.5        0.5
 0.5        0.5        0.         0.5        0.5        0.5
 0.5        0.5        0.         0.5       ]
[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

ValueError: Classification metrics can't handle a mix of binary and continuous targets

In [277]:


# 정확도 계산 (이진 데이터에 대한 RMSE는 의미가 없으므로 정확도만 측정)
def accuracy(model, neighbor_size=0, threshold=0.5):
    id_pairs = zip(likes_matrix.user_id, likes_matrix.place_id)
    y_pred = np.array([model(user, place, neighbor_size, threshold) for (user, place) in id_pairs])
    y_true = np.array(test_data['heart'])
    accuracy = np.mean(y_pred == y_true)
    return accuracy