In [1]:
import numpy as np
import pandas as pd

places테이블에서 id, latitude, longitude만 필요함

In [2]:
places = pd.read_csv(f"C:/Users/김가연/Desktop/23-2학기/캡스톤2/data/완료/places.csv", encoding='UTF-8-SIG')
places = places[["id", "latitude", "longitude"]]
places

        id   latitude   longitude
0        1  37.520797  126.978958
1        2  37.520707  126.979676
2        3  37.548463  126.984184
3        4  37.552732  126.981128
4        5  37.546340  126.985610
...    ...        ...         ...
1895  1896  37.560249  127.005893
1896  1897  37.557506  127.007953
1897  1898  37.558641  127.006677
1898  1899  37.552924  127.001007
1899  1900  37.557678  127.004057

[1900 rows x 3 columns]

프론트에서 받아온 두 위도 경도 사이에 있는 플레이스들 모두 반환하기!

In [3]:
x0, y0 = 37.520707, 126.979676
x1, y1 = 37.548463, 126.984184

원하는 범위 안에 있는 플레이스의 id 얻어오기

In [4]:
# x0~x1 사이에 있으면서 y0~y1 사이에 있는 모든 플레이스들을 반환함
filtered_places = places[(places['latitude'] >= min(x0, x1)) & (places['latitude'] <= max(x0, x1)) &
                          (places['longitude'] >= min(y0, y1)) & (places['longitude'] <= max(y0, y1))]

filtered_places = filtered_places.reset_index(drop=True)[["id"]]
filtered_places

     id
0   418
1   419
2   420
3  1078
4  1423
5  1568